<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post" autocomplete="off">
        Username: <input type="text" name="username" autocomplete="off"><br>
        Password: <input type="password" name="password" autocomplete="new-password"><br>
        <input type="submit" value="Login">
    </form>
    
    {% set messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set last_message = messages[-1] %}
        <p style="color: {{ 'red' if last_message[0] == 'error' else 'green' }}">{{ last_message[1] }}</p>
    {% endif %}
    
    <a href="/register">Register</a>
</body>
</html>
